/* 8.service-single */

.service-single-wrap {
  .title-image {
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  h2 {
    color: $heading-color;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  h3 {
    color: $heading-color;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
  }

  p {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.8px;
    margin-bottom: 40px;
  }

  .video-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    @media (max-width: 1199px) {
      display: block;
    }
  }

  .video-img {
    position: relative;
    max-width: 400px;
    width: 100%;
    z-index: 111;
  }

  .video-content {
    margin-left: 40px;

    @media (max-width: 1199px) {
      margin-left: 0px;
      margin-top: 20px;
    }

    h2 {
      color: $heading-color;
      font-size: 28px;
      font-weight: 700;
      text-transform: capitalize;
    }

    p {
      color: $text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 28.8px;
      margin-bottom: 20px;
    }

    ul {
      li {
        display: block;
        color: #5e5f63;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        padding-left: 40px;
        position: relative;
        margin-bottom: 15px;

        &::before {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          width: 20px;
          height: 20px;
          background: #fff;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
          border-radius: 30px;
        }
      }
    }
  }

  .video-holder {
    .video-btn {
      display: block;
      width: 60px;
      height: 60px;
      background: $white;
      text-align: center;
      line-height: 55px;
      color: $theme-primary-color-s2;
      font-size: 30px;
      border-radius: 50%;
      position: relative;
      border: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &:before {
        content: " ";
        width: 120%;
        height: 120%;
        background: rgba($color: #fff, $alpha: 0.3);
        border-radius: 50%;
        position: absolute;
        left: -7px;
        top: -7px;
        -webkit-animation: pulse 1s infinite;
        animation: pulse 1s infinite;
        z-index: -1;
      }

      i {
        font-size: 20px;
      }
    }
  }

  .quate {
    background: #fff;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.06);
    position: relative;
    padding: 15px 70px 15px 25px;
    border-left: 4px solid $theme-primary-color-s2;
    margin-bottom: 0;
    color: $heading-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

    @media (max-width: 991px) {
      padding: 15px 20px 15px 25px;
    }
  }
}
